html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	height: 100%;
	width: 100%;
}
ul, ol, li, a, dl, dt, dd {
	border: none;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.header {
	height: 50px;
	background-color: #09c;
}
.header .nav {
	float: right;
	overflow: hidden;
	height: 50px;
	line-height: 50px;
	margin-right: 50px;
}
.header .logo {
	display: inline-block;
	width: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
}
.header .nav li {
	float: left;
	height: 50px;
	padding: 0 10px;
	cursor: pointer;
}
.header .nav li a.logout {
  color: #fff;
  line-height: 50px;
  padding: 0;
}
.header .nav li a.logout:hover {
  background-color: transparent;
}

.wrapper-page {
	height: calc(100% - 50px);
}
.wrapper-page .navgation {
	width: 200px;
	background-color: #333;
	height: 100%;
	float: left;
}
.sidebar {
  display: block;
  float: left;
  width: 250px;
  background: #333;
}
.panel-body-up {
  padding: 0px 15px; 
  padding-bottom: 0px;
  padding-top:5px;
}
.panel-body{
  padding-top:5px; 
  padding-bottom:5px; 
}
.language-markup{
  padding:0px 9.5px;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
  h3{
    margin-top:10px;
    margin-bottom:10px;
  }
  .panel-tle{
    text-indent:25px;
    font-size:12px;
  }
  .customers{  
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;  
    width:100%;  
    border-collapse:collapse;
  }  
    
  .customers td, #customers th{  
    font-size:1em;  
    border:1px solid #848484;  
    padding:0px 7px;
    font-size:12px;
  }  
  .height-td td{
    height:35px;
  }
  .customers th{  
    font-size:1.1em;  
    text-align:left;  
    padding-top:5px;  
    padding-bottom:4px;  
    background-color:#CBCBCC;  
    border:1px solid #848484; 
    text-align:center;
    color:#ffffff;  
  }  
}
.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  background-repeat: repeat-x;
  
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav ul .nav-label {
	padding-left: 10px;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a {
  padding: 10px 20px;
  color: #aaa;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active, .sidebar-nav ul li.active>a {
  color: #fff;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}
#rtlh3 small {
    transform: rotateY(180deg);
    display: inline-block;
}
.panel {
  h5 {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 15px 5px;
  } 
  .panel-heading {
    font-weight: 700;
    font-size: 18px;
  }
}

.page-content {
  height: 100%;
	/*margin-left: 200px;*/
	padding: 20px 20px 0px 20px;
}


/* TABLES */
.table-bordered {
  border: 1px solid #EBEBEB;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  background-color: #F5F5F6;
  border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}
.btn {
    border-radius: 3px;
}